.loading{
    height: 50%; 
    width: auto;
}
.ready{
    height: 400px; 
    width: 800px;
}
#preview{
    image-rendering: pixelated;
}
.row{
    display:flex;
    flex-direction: row;
}
.reverse{
    transform: scaleX(-1);
}
.arrow{
    height: 50px;
    border: 0px;
    background: none;
}